@import url("https://fonts.googleapis.com/css?family=Patrick Hand");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #edebef;
  font-family: "Patrick Hand";
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background-color: #edebef;
  z-index: 10;
}

.sidebarMenuInner {
  margin-top: 60px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}

.sidebarMenuInner li a {
  color: #6e2141;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
  box-shadow: 7px 0px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 0 100px 0 0;
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 98;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #6e2141;
  border-radius: 4px;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -11px;
}

.logoNavbarContainer{
  display: none;
}

.logoNavbarContainerPhone {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.logoNavBar {
  height: 40px;
  margin-right: 15px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin-top: 50px;
}

.logo {
  width: 80%;
  margin-top: 4vh;
  z-index: 9;
}

.searchUsersText {
  text-align: center;
  margin-top: 2.5em;
  color: #6e2141;
  width: 80%;
}

.findUserForm {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 55px;
  width: 250px;
  align-items: center;
  border: solid #6e2141 1px;
  border-radius: 50px;
  justify-content: space-between;
}

.findUserInput {
  background-color: transparent;
  border: none;
  font-family: "Patrick Hand";
  font-size: 16px;
  margin-left: 10px;
  outline: none;
}

.findUserButton {
  background-color: #6e2141;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: none;
  background-image: url("/images/searchIcon.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.infoTextHome {
  color: #6e2141;
  text-align: center;
  margin: 50px 0 50px 0;
  width: 80%;
}

.coin {
  width: 80%;
  margin-top: 20px;
}

.loginMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helloThere {
    width: 90%;
    margin-top: 8vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #6e2141;
}

.loginInputContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 250px;
  align-items: center;
  border: solid #6e2141 1px;
  border-radius: 30px;
  justify-content: space-between;
}

.loginInput {
    background-color: transparent;
    width: 200px;
    border: none;
    font-family: "Patrick Hand";
    font-size: 16px;
    margin-left: 10px;
    outline: none;
}

.loginButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.loginButton {
    font-family: 'Patrick Hand';
    font-size: 20px;
    color: #d1af8f;
    background-color: #6e2141;
    border: none;
    width: 70px;
    height: 40px;
    border-radius: 40px;
}

.registerButton {
    font-family: 'Patrick Hand';
    font-size: 16px;
    color: #6e2141;
    background-color: #d1af8f;
    border: none;
    margin-top: 30px;
    width: 180px;
    height: 30px;
    border-radius: 30px;
}

.thanksMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.pugFrame{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.pugCircle {
  margin-top: 7%;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  object-fit: cover;
}

.pugImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 8;
}

.pugFramePic {
  width: 90%;
}

.pugFramePicDesktop {
  display: none;
}

.thanksTextContainer {
  width: 60%;
}

.accountMain {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profileMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.username {
  color: #6e2141;
  text-transform: uppercase;
}

.donationCounter {
  margin-top: 15px;
}

.donationCounter h2{
  color: #6e2141;
  font-size: 25px;
}

.donationCounter p{
  color: #6e2141;
  font-size: 20px;
}

.donationPic {
  width: 70%;
  margin-top: 8vh;
}

.instagramProfileButton {
  background-color: #6e2141;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 20px;
}

.instagramProfileButton a {
  text-decoration: none;
  color: #d1af8f;
}

.instagramProfileButton a:visited {
  text-decoration: none;
  color: #d1af8f;
}

@media (min-width:320px) and (max-width: 359px){
  .pugCircle {
    margin-top: 7%;
    width: 150px;
    height: 150px;
  }
}

@media (min-width:360px) and (max-width: 400px){
  .pugCircle {
    margin-top: 7%;
    width: 180px;
    height: 180px;
  }
}

@media (min-width:460px) and (max-width: 549px){
  .pugCircle {
    margin-top: 7%;
    width: 230px;
    height: 230px;
  }
}

@media (min-width:550px) and (max-width: 599px){
  .pugCircle {
    margin-top: 7%;
    width: 250px;
    height: 250px;
  }
  .donationPic {
    width: 40%;
    margin-top: 8vh;
  }
}

@media (min-width:600px) and (max-width: 699px){
  .pugCircle {
    margin-top: 7%;
    width: 300px;
    height: 300px;
  }
  .donationPic {
    width: 60%;
    margin-top: 8vh;
  }
}

@media (min-width:700px) and (max-width: 799px){
  .pugCircle {
    margin-top: 7%;
    width: 350px;
    height: 350px;
  }
  .donationPic {
    width: 40%;
    margin-top: 8vh;
  }
}

@media (min-width:800px) and (max-width: 999px){
  .pugCircle {
    width: 300px;
    height: 300px;
  }
  .donationPic {
    width: 40%;
    margin-top: 8vh;
  }
}

@media (min-width:1000px) and (max-width: 1300px){
  .pugCircle {
    width: 350px;
    height: 350px;
  }
  .donationPic {
    width: 30%;
    margin-top: 8vh;
  }
}

@media (min-width:1301px) and (max-width: 1500px){
  .pugCircle {
    width: 400px;
    height: 400px;
  }
  .donationPic {
    width: 30%;
    margin-top: 8vh;
  }
}

@media (min-height: 1025px) {
  .pugCircle {
    margin-top: 15%;
  }
}

@media (min-width: 1030px) {

  .pugFramePic {
    display: none;
  }
  
  .pugFramePicDesktop {
    display: block;
    width: 90%;
  }

  .pugCircle {
    margin-top: 3%;
  }

  .accountMain {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 600px) {
  .sidebarIconToggle {
    display: none;
  }

  #sidebarMenu {
    height: 60px;
    width: 100%;
    left: 0;
    transform: none;
    transition: none;
    position: relative;
  }

  .sidebarMenuInner {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    border-top: none;
  }

  .sidebarMenuInner li {
    font-size: 18px;
    margin: 0 20px 0 20px;
  }

  .sidebarMenuInner li a:hover {
    color: #2c0d0e;
  }

  main {
    font-size: 20px;
  }

  .infoTextHome {
    width: 60%;
  }

  .logo {
    width: 40%;
  }

  .coin {
    width: 50%;
  }

  .logoNavbarContainerPhone {
    display: none;
  }

  .logoNavbarContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .logoNavBar {
    margin: 0 0 0 15px;
  }

  .helloThere {
    width: 60%;
    margin-top: 15vh;
}

  .form-container{
    margin-top: 80px;
  }
}

@media (min-width: 1200px) and (min-height:100px) {
  .helloThere{
    width: 40%;
    margin-top: 20vh;
  }

  .loginMain {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .pugFrame{
    margin-top: 7vh;
  }

}

