<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css" />
    <title>Register</title>
</head>
<body>
        <div class="logoNavbarContainerPhone">
                <img class="logoNavBar" src="/images/logo-small.png" alt="logo">
            </div>
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label>
            <div id="sidebarMenu">
        
                <ul class="sidebarMenuInner">
                    <div class="logoNavbarContainer">
                        <img class="logoNavBar" src="/images/logo-small.png" alt="logo">
                    </div>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/account">Account</a></li>
            </ul>
            </div>

    <form method="POST" action="/register" class="form-container">
        <h1 style="color: #9f6252;"">REGISTER</h1>
        <p style="margin-top: 40px;">Fill in your information to create a profile</p>
        <div class="loginInputContainer">
                <input type="text" name="username" placeholder="Choose Username" autocomplete="off" required class="loginInput">
        </div>
        <div class="loginInputContainer">
            <input type="email" name="email" placeholder="Enter Email" autocomplete="off" required class="loginInput">
        </div>
        <div class="loginInputContainer">
            <input type="password" name="password" placeholder="Choose Password" autocomplete="off" required class="loginInput">
        </div>
        
        <div class="loginInputContainer">
                <input type="text" name="instagramUrl" placeholder="Instagram profile username" autocomplete="off" required class="loginInput">
            </div>

        <div>
            <input class="registerButton" type="submit" value="Register">
        </div>
    </form>

</body>
</html>