<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css" />
    <title>Thank you for your donation!</title>
</head>

<body>
        <div class="logoNavbarContainerPhone">
                <img class="logoNavBar" src="/images/logo-small.png" alt="logo">
              </div>
              <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
              <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
              </label>
              <div id="sidebarMenu">
            
                <ul class="sidebarMenuInner">
                  <div class="logoNavbarContainer">
                    <img class="logoNavBar" src="/images/logo-small.png" alt="logo">
                  </div>
                  <li><a href="/">Home</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>


    <div class="thanksMain">

        <div class="pugFrame">
            <div class="pugCircle">
                <img src="<%=randomPug%>" alt="pug" class="pugImage">
            </div>
            <img src="/images/thanks-pic.png" alt="thank-you" class="pugFramePic">
            <img src="/images/thanks-pic-desktop.png" alt="thank-you" class="pugFramePicDesktop">
        </div>

        <div class="thanksTextContainer">
            <h1 style="color:#6e2141; margin-bottom: 10px;">THANK YOU FOR THE DONATION!</h1>
            <h2 style="color:#9f6252;">You're the best!</h2>
            <h2 style="color:#9f6252;">Here's a pug for you!</h2>
        </div>

    </div>

</body>

</html>